
.Main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Wrapper {
    padding: 14px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}